{% extends 'nav.html' %}
{% load static %}
{% block title %} category page {% endblock title %}
{% block content %}
<div class="container"><br>
    <h3 class="text-center p-3 ">About us</h3><br><br>
    <div class="row-container">
        <p class="fs-4-text-center">This ecommerce website is a public limited company having its registerd corperate head office at kochi city of kerala state in india
            this company was established in the year 2023
        </p>
        <p class="fs-4-text-center"> to embrace the right technology to delight our customenrs,
            Empowering the normal community through our unique "Relationship between happy customer" model
        </p>


    </div>



</div>
{% endblock %}