{% extends 'nav.html' %}
{% load static %}
{% block title %} category page {% endblock title %}
{% block content %}
<div class="container my-b">
  <div class="row">
    {% if cart %}
    <h1 class="text-center">Shopping Cart</h1>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3>Cart</h3>
          {% for item in cart %}
          <div class="row">
            <div class="col-sm-3 text-center align-self-center"><img src="{{ item.product_image.url }}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></div>
            <div class="col-sm-9">
              <div>
                <h5>{{ item.product.title }}</h5>
                <p class="mb-2 text-muted small">{{ item.product.description }}</p>
                <div class="my-3">
                  <label for="Quantity"> Quantity</label>
                  <a href="" class="minus-cart btn" pid={{item.product.id}}><i class="fas fa-minus-square fa-lg"></i></a>
                  <span id="Quantity">{{ item.Quantity }}</span>
                  <a href="" class="plus-cart btn" pid={{item.product.id}}><i class="fas fa-plus-square fa-lg"></i></a>
                </div>
                <div class="d-flex justify-content-between">
                  <a href="" class="remove-cart btn btn-secondary mr-3" pid="{{item.product.id}}">remove item</a>
                  <p class="mb-0"><span><strong>RS :{{item.product.discounted_price}}</strong></span></p>
                </div>
              </div>
            </div>
           </div>
           <hr class="text-muted">
           {% endfor %}
           <!-- 3:48:43 -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}