{% extends 'nav.html' %}
{% load static %}
{% block title %} category page {% endblock title %}
{% block content %}
<style>
    .grid-container {
  display: inline-grid;
}
.grid {
  display: grid;
  grid-gap: 100px;
  grid-auto-flow: column;
  width: 100px;
}
</style>
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            
                {% for val in title %}
                <div class="list-group">
                    <a href="{% url 'categorytitle' val.title %}" class="list-group-item list-group-item-action" aria-current="true"> {{  val.title  }}</a>
                    
                    
                  
                  {% endfor %}
            </div>
        </div>
        </div>
        <div class="col py-3" >
            <div class="grid-container">
                <div class="grid">
                {% for prod in product %}
                <div class="col text-center mb-2">
                    <a href="{% url 'productdetail' prod.id %}" class="btn">
                  <div>
                        <img src="{{ prod.product_image.url }}" alt="" width="200px" height="250">
                            <div class="fw-bold">{{prod.title}}</div>
                            <div class="fw-bold text-danger">Rs: {{prod.discount_price}}</div>
                            <small class="fw-light text-decoration-line-through fw-bold">Rs :{{ prod.selling_price }}</small>

                            
                        </div>
                    </a>
                    

                  </div>
                {% endfor %}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}