{% extends 'nav.html' %}
{% load static %}
{% block title %}  {% endblock title %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Well Done</h4>
                <p>A Email has been sent with instructions to Reset Your Password <b>Please Check Your Email</b></p>
              </div>
            
        </div>
    </div>
</div>
{% endblock %}